.container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% repeat(5, min-content);
  gap: 8px;

  align-items: center;
}

.container .player {
  text-wrap: nowrap;
  padding-left: 1em;
  padding-right: 1em;
  text-align: right;
}

.letter {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 30%;
  transition: opacity 1s ease-out;
}

.letter.gained {
  opacity: 1;
}
