.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  flex: 1;
  justify-content: flex-start;

  padding-top: 16px;
  position: relative;
  overflow-y: auto;
}

.spacer {
  flex: 1;
}

.container > p {
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--background-color);
  padding: 1em;
  margin: 0;

  border-radius: 8px;
}

.stuck {
  box-shadow: 0px 0px 8px var(--drop-shadow);
}

.opponents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  gap: 4px;
  padding: 8px;
}

.container a {
  padding: 16px;
  border: 4px solid rgba(from var(--highlight-color) r g b / 50%);
  border-radius: 16px;
  transition: border-color 0.25s, box-shadow 0.25s;
  color: currentColor;
}

.container a:hover,
.container a:focus-visible {
  border-color: var(--highlight-color);
  box-shadow: 0px 0px 4px var(--highlight-color);
}

.container a h3 {
  width: 100%;
  margin: 4px 0px;
  padding: 0;
  border-bottom: 1px solid rgba(from var(--highlight-color) r g b / 50%);
}

.container a p {
  text-wrap: pretty;
}

.added {
  position: relative;

  background-image: radial-gradient(
    circle at top right,
    rgba(from var(--highlight-color) r g b / 20%) 5%,
    var(--background-color) 80%
  );

  transition: background-color 0.25s;
}

.added::after {
  content: "✅";
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.opponent p {
  text-wrap: pretty;
}

.opponent:hover,
.opponent:focus-visible {
  text-decoration: none;
}

.start {
  position: sticky;
  bottom: 0;

  margin: 0;
  padding: 0;

  align-self: stretch;
  border: 1px solid red;
  background-color: var(--background-color);
  box-shadow: 0px 0px 4px var(--drop-shadow);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
}

@media (min-height: 1000px) {
  .spacer {
    flex: 0;
  }
}
