.keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.action {
  grid-column: span 2;
}

.keyboard button {
  border-radius: 0px;
  min-height: 4rem;
  border-color: #999e;
}

.keyboard button:disabled {
  filter: brightness(0.4);
}
