#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
}

pre {
  text-align: left;
}

dialog[open]::backdrop {
  backdrop-filter: blur(4px);
}
