.dialog button {
  min-height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border-color: var(--highlight-color);
}

.dialog hr {
  margin: 24px 0px;
  border: 1px dashed rgba(from var(--highlight-color) r g b / 50%);
}

.dialog form {
  display: flex;
  flex-direction: row;
  gap: 16px;

  align-items: center;
  justify-content: center;
}

.dialog input {
  font-size: 1.5em;
  text-align: center;
  flex: 1;
}
